<!DOCTYPE HTML>
<html>
	<head>
		{% load static %}
		<link rel="shortcut icon" href="{% static 'images/logo-o.png' %}"/>
		<title>Repas partagés</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
		<header id="header">
			<h1><a href="{% url 'index' %}"><img align="left" width="33%" height="33%" src="{% static 'images/logo-header.png' %}" alt="" /></a></h1>
			<a href="#nav">Menu</a>
		</header>


		<!-- Nav -->
		<nav id="nav">
				<ul class="links">
					<li><a href="{% url 'index' %}">Accueil</a></li>
					<li><a href="{% url 'actualite' %}">L'actualité</a></li>
					<li><a href="{% url 'association' %}">L'association</a></li>
					<li><a href="{% url 'convives' %}">Venir déjeuner</a></li>
					<li><a href="{% url 'benevoles' %}">Devenir bénévole</a></li>
					<li><a href="{% url 'aide' %}">Faire un don</a></li>
					<li><a href="{% url 'index' %}#four">Contact</a></li>
					<li><a href="{% url 'login' %}">Déjà bénévole</a></li>
				</ul>
			</nav>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
						<h2>L'actualité</h2>
					</header>

					<!--<a href="#" class="image fit"><img src="images/pic11.jpg" alt="" /></a>-->

					<!-- Text -->
						<section>
							<header>
								<h2>La journée mondiale des pauvres le 19 novembre à Saint-Joseph</h2>
							</header>
							<p>Le Pape François a promulgué le dimanche 19 novembre Journée Mondiale des Pauvres. L’association solidarité chrétienne des Batignolles s'associe à cet événement à la paroisse Saint Joseph. </p>
							<header>
								<h2>La collecte de la banque alimentaire du 25 novembre </h2>
							</header>
							<p>Comme chaque année, la collecte de la Banque Alimentaire se déroule le dernier week-end de novembre; nous y participons le samedi 25 novembre , dans deux supermarchés du 17ème , dont le Franprix du 28, rue des Moines. C'est une occasion précieuse, chaque année, de constituer nos réserves pour nos repas - et d'aider d'autres actions en remettant à la Mairie ce qui dépasse nos besoins, pour remise à la Banque Alimentaire. </p>
						</section>

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook">
							<span class="label">Facebook</span>
						</a></li>
						<!--<li><a href="#" class="icon fa-instagram">
							<span class="label">Instagram</span>
						</a></li>
						<li><a href="#" class="icon fa-linkedin">
							<span class="label">LinkedIn</span>
						</a></li>-->
					</ul>
					<ul class="copyright">
						<li>&copy; Repas partagés.</li>
						<li>Design: <a href="http://designscrazed.org/">TEMPLATE</a>.</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
		<script src="{% static 'assets/js/jquery.min.js' %}"></script>
		<script src="{% static 'assets/js/skel.min.js' %}"></script>
		<script src="{% static 'assets/js/util.js' %}"></script>
		<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
		<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>
