<!DOCTYPE HTML>
<html>
	<head>
		{% load static %}
		<link rel="shortcut icon" href="{% static 'images/logo-o.png' %}"/>
		<title>Repas partagés</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
		<header id="header">
			<h1><a href="{% url 'index' %}"><img align="left" width="33%" height="33%" src="{% static 'images/logo-header.png' %}" alt="" /></a></h1>
			<a href="#nav">Menu</a>
		</header>


		<!-- Nav -->
		<nav id="nav">
				<ul class="links">
					<li><a href="{% url 'index' %}">Accueil</a></li>
					<li><a href="{% url 'actualite' %}">L'actualité</a></li>
					<li><a href="{% url 'association' %}">L'association</a></li>
					<li><a href="{% url 'convives' %}">Venir déjeuner</a></li>
					<li><a href="{% url 'benevoles' %}">Devenir bénévole</a></li>
					<li><a href="{% url 'aide' %}">Faire un don</a></li>
					<li><a href="{% url 'index' %}#four">Contact</a></li>
					<li><a href="{% url 'login' %}">Déjà bénévole</a></li>
				</ul>
			</nav>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
						<h2>L'actualité</h2>
					</header>

					<!--<a href="#" class="image fit"><img src="images/pic11.jpg" alt="" /></a>-->

					<!-- Text -->
						<section>
							<header>
								<h2>La journée mondiale des pauvres le 19 novembre à Saint-Joseph</h2>
							</header>
							<p>Repas autour de nos convives (qui sont invités à proposer des animations) et des personnes reçues par les autres associations de solidarité de Saint Joseph; comme l'année dernière, nous sommes invités à y participer en qualité de bénévoles de 10h30 à 16h. Inscription sur le lien ci-joint.</p>

							<p>https://docs.google.com/spreadsheets/d/1UG8Znvol2uHCqCCx8WlzU-VUnFfrES0eWEYi8xgvZKs/edit?usp=sharing</p>
							<header>
								<h2>COLLECTE DE LA BANQUE ALIMENTAIRE : SAMEDI 1ER DECEMBRE DE 9H A 19H</h2>
							</header>
							<p>2h de votre temps samedi 1er décembre, au Monoprix de la Fourche pour les équipes "de Monique", au Franprix pour les autres (inscription par retour de mail ou via ce lien https://docs.google.com/spreadsheets/d/16fpYsTim2lSpGVenN6a8STfT8H9XL4RSSaEUTLHvGNs/edit?usp=sharing) , avec voiture si vous pouvez, en n'oubliant pas qu'il y a aussi un repas ce jour là !</p>
							<header>
								<h2>CAMPAGNE DE DONS DE FIN D'ANNEE :  C'EST MAINTENANT SUR LE SITE, SUR FACEBOOK OU PAR RETOUR</h2>
							</header>
							<p>En cette période de fin d'année où vos proches et vous mêmes réfléchissent à leurs dons, c'est le moment d'adresser votre don, et d'inciter vos proches à le faire. Comme chaque année nous délivrons à partir de 30 € un reçu fiscal qui donne lieu à déduction, y compris en cette année de passage à la retenue à la source. Le plus simple est d'aller sur le site ou la page Facebook, rubrique "don en ligne". Mais les dons par chèque et courrier sont aussi possibles !</p>
						</section>

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook">
							<span class="label">Facebook</span>
						</a></li>
						<!--<li><a href="#" class="icon fa-instagram">
							<span class="label">Instagram</span>
						</a></li>
						<li><a href="#" class="icon fa-linkedin">
							<span class="label">LinkedIn</span>
						</a></li>-->
					</ul>
					<ul class="copyright">
						<li>&copy; Repas partagés.</li>
						<li>Design: <a href="http://designscrazed.org/">TEMPLATE</a>.</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
		<script src="{% static 'assets/js/jquery.min.js' %}"></script>
		<script src="{% static 'assets/js/skel.min.js' %}"></script>
		<script src="{% static 'assets/js/util.js' %}"></script>
		<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
		<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>
