<!DOCTYPE HTML>
<html>
	<head>
		{% load static %}
		<link rel="shortcut icon" href="{% static 'images/logo-o.png' %}"/>
		<title>Repas partagés</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
		<header id="header">
			<h1><a href="{% url 'index' %}"><img align="left" width="33%" height="33%" src="{% static 'images/logo-header.png' %}" alt="" /></a></h1>
			<a href="#nav">Menu</a>
		</header>


		<!-- Nav -->
		<nav id="nav">
				<ul class="links">
					<li><a href="{% url 'index' %}">Accueil</a></li>
					<li><a href="{% url 'actualite' %}">L'actualité</a></li>
					<li><a href="{% url 'association' %}">L'association</a></li>
					<li><a href="{% url 'convives' %}">Venir déjeuner</a></li>
					<li><a href="{% url 'benevoles' %}">Devenir bénévole</a></li>
					<li><a href="{% url 'aide' %}">Faire un don</a></li>
					<li><a href="{% url 'index' %}#four">Contact</a></li>
					<li><a href="{% url 'login' %}">Déjà bénévole</a></li>
				</ul>
			</nav>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
						<h2>L'actualité</h2>
					</header>

					<!--<a href="#" class="image fit"><img src="images/pic11.jpg" alt="" /></a>-->

					<!-- Text -->
						<section>
							<header>
								<h2>Les dons c'est toute l'année !</h2>
							</header>
							<p>Cliquez sur la rubrique "Faire un Don" et bénéficiez d'un reçu fiscal !</p>
							<header>
								<h2>27 MARS 2019</h2>
							</header>
							<p>l'Assemblée Générale de notre association s'est tenue à Saint Joseph ! retrouvez le compte rendu dans votre Espace Bénévoles sur ce site. 5 nouveaux membres ont rejoint le Conseil d'Administration. L'association a récolté des dons et subventions qui vont lui permettre de poursuivre et de développer son action, grâce à ses donateurs individuels et au soutien de l'Entraide Protestante, de la Banque Alimentaire Paris Ile de France et de la Fondation Notre Dame !</p>
							<header>
								<h2>6 MARS 2019</h2>
							</header>
							<p>la Paroisse Saint Michel fait bénéficier cette année Solidarité Chrétienne des Batignolles de son partage de Carême ! N'hésitez pas à remplir les enveloppes jusqu'au 19 avril ! Voir le tract ci-joint !</p>
							<header>
								<h2>1ER DECEMBRE 2018</h2>
							</header>
							<p>malgré les manifestations qui ont marqué la journée à Paris, nos 38 bénévoles ont collecté 2,3 tonnes de nourriture lors de la Collecte de la Banque Alimentaire, qui permettront de fournir nos repas tout au long de l'année !</p>
							<header>
								<h2>18 NOVEMBRE 2018</h2>
							</header>
							<p>très beau moment lors de la Journée Mondiale des Pauvres qui a rassemblé une centaine de personnes de tous horizons à la Paroisse Saint Joseph. Cette initiative du Pape François, qui vise à mettre les pauvres à l'honneur, se reproduit d'année en année</p>
						</section>

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook">
							<span class="label">Facebook</span>
						</a></li>
						<!--<li><a href="#" class="icon fa-instagram">
							<span class="label">Instagram</span>
						</a></li>
						<li><a href="#" class="icon fa-linkedin">
							<span class="label">LinkedIn</span>
						</a></li>-->
					</ul>
					<ul class="copyright">
						<li>&copy; Repas partagés.</li>
						<li>Design: <a href="http://designscrazed.org/">TEMPLATE</a>.</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
		<script src="{% static 'assets/js/jquery.min.js' %}"></script>
		<script src="{% static 'assets/js/skel.min.js' %}"></script>
		<script src="{% static 'assets/js/util.js' %}"></script>
		<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
		<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>
