<!DOCTYPE HTML>
<html>
	<head>
		{% load static %}
		<link rel="shortcut icon" href="{% static 'images/logo-o.png' %}"/>
		<title>Repas partagés</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><a href="{% url 'index' %}"><img align="left" width="33%" height="33%" src="{% static 'images/logo-header.png' %}" alt="" /></a></h1>
				<a href="#nav">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="nav">
				<ul class="links">
					<li><a href="{% url 'index' %}">Accueil</a></li>
					<li><a href="{% url 'actualite' %}">L'actualité</a></li>
					<li><a href="{% url 'association' %}">L'association</a></li>
					<li><a href="{% url 'convives' %}">Venir déjeuner</a></li>
					<li><a href="{% url 'benevoles' %}">Devenir bénévole</a></li>
					<li><a href="{% url 'aide' %}">Faire un don</a></li>
					<li><a href="{% url 'index' %}#four">Contact</a></li>
					<li><a href="{% url 'login' %}">Déjà bénévole</a></li>
				</ul>
			</nav>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
						<h2>L’association solidarité chrétienne des Batignolles</h2>
					</header>

					<!--<a href="#" class="image fit"><img src="images/pic11.jpg" alt="" /></a>-->

					<!-- Text -->
					<section>
						<p>&emsp;Solidarité Chrétienne des Batignolles / Repas Partagés est une association œcuménique créée en 1984 par des chrétiens, catholiques et protestants, du Nord Ouest de Paris (Eglise Protestante Unie du 44, Boulevard des Batignolles, paroisses catholiques Saint Joseph des Epinettes, Sainte Marie des Batignolles, et Saint Michel), devant la montée du chômage à l’époque.
						<br>&emsp;Elle offre des Repas Partagés aux personnes démunies sans distinction d’origine ethnique, de sexe et de religion (même si nous ne sommes pas habilités à accueillir les enfants).
						<br>&emsp;C’est aujourd’hui :
							<ul>
								<li>4 000 déjeuners offerts par an aux plus démunis</li>
								<li>60 bénévoles soudés et actifs</li>
								<li>Une action œcuménique, un accueil ouvert à tous</li>
								<li>30 à 40 déjeuners servis, 3 jours par semaine</li>
								<li>Un accueil chaque jeudi de 10h30 à 11h45</li>
								<li>Pour chaque bénévole, un engagement flexible : entre 1 repas / semaine et 1 repas toutes les 4 à 6 semaines</li>
								<li>Une participation annuelle à la collecte de la Banque Alimentaire qui nous procure une part importante de nos ressources.</li>
							</ul>

						&emsp;Les valeurs qui inspirent l’action de Solidarité Chrétienne des Batignolles / Repas Partagés sont les valeurs chrétiennes de partage, de solidarité, d’éducation et de respect.

						<br>&emsp;L’accueil des convives a lieu le jeudi à l’Église protestante Unie situé au 44 Boulevard des Batignolles, 75017 Paris où se déroule le repas du jeudi. Les déjeuners du mardi et du samedi se tiennent dans deux paroisses du quartier Batignolles / Epinettes.</p>
						<hr />

						<header>
							<h3>Qui sommes nous ?</h3>
						</header>

						<h4>Le Conseil d’administration (* membres du bureau)</h4>
							<ul>
								<li>Françoise Bernard, Vice Présidente (*)</li>
								<li>Patrick Buffet, Secrétaire (*)</li>
								<li>Xavier Corman, Président (*)</li>
								<li>Jean-François Gombeaud</li>
								<li>Elisabeth Groeber</li>
								<li>Charles Jounet, Trésorier (*)</li>
								<li>Yves Kaeppelin, (*)</li>
								<li>Nicole Lafon</li>
								<li>Monique Lejeune</li>
								<li>Philippe Mercier</li>
								<li>Katia Rasidy</li>
								<li>Gisèle Salles</li>
							</ul>
						</p>

						<hr />

						<header>
							<h3>Comment orienter une personne en grande précarité ?</h3>
						</header>
						<h4>Signaler</h4>
						<p>&emsp;Les habitants et les citoyens sont un relais essentiel dans le signalement des personnes en situation d’exclusion sociale. N’hésitez pas à solliciter la mairie en cas de doutes ou de questions sur la démarche à adopter si vous vous trouvez face à des personnes en difficulté.
						<br>&emsp;Le site de la Mairie de Paris dispose d’une page internet recensant les structures d’aides aux personnes en grande précarité : <a href="https://www.paris.fr/services-et-infos-pratiques/social-et-solidarites/personnes-en-situation-de-precarite" class="button small alt">cliquer ici </a></p>

						<h4>Les bons gestes</h4>
						<p>&emsp;Le premier pas pour aider une personne à la rue est de discuter avec elle pour connaître ses besoins.
						<br>&emsp;Si je repère une personne en détresse, je lui propose mon aide avant d’agir et je ne prends aucune initiative sans son accord.
						<br>&emsp;Si elle souhaite se restaurer vous pouvez l’orienter vers Solidarité Chrétienne des Batignolles.
						<br>&emsp;Une autre structure existe dans le Nord Ouest Parisien : Le restaurant solidaire Les Epinettes 51 rue des Epinettes, ouvert toute l’année du lundi au samedi (17h15-19h30)
						<br>&emsp;Vous pouvez aussi leur recommander de se rendre au  Secours Catholique du 17ème situé au 38, rue des Apennins dans le 17ème (01 53 31 00 10).
						<br>&emsp;Lien vers le guide solidarité de la Mairie de paris : <a href="https://api-site-cdn.paris.fr/images/93099" class="button small alt">cliquer ici </a></p>

					</section>

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook">
							<span class="label">Facebook</span>
						</a></li>
						<!--<li><a href="#" class="icon fa-instagram">
							<span class="label">Instagram</span>
						</a></li>
						<li><a href="#" class="icon fa-linkedin">
							<span class="label">LinkedIn</span>
						</a></li>-->
					</ul>
					<ul class="copyright">
						<li>&copy; Repas partagés.</li>
						<li>Design: <a href="http://designscrazed.org/">TEMPLATE</a>.</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/skel.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>
