<!DOCTYPE HTML>
<html>
	<head>
		{% load static %}
		<link rel="shortcut icon" href="{% static 'images/logo-o.png' %}"/>
		<title>Repas partagés</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
		<header id="header">
			<h1><a href="{% url 'index' %}"><img align="left" width="33%" height="33%" src="{% static 'images/logo-header.png' %}" alt="" /></a></h1>
			<a href="#nav">Menu</a>
		</header>


		<!-- Nav -->
		<nav id="nav">
				<ul class="links">
					<li><a href="{% url 'index' %}">Accueil</a></li>
					<li><a href="{% url 'actualite' %}">L'actualité</a></li>
					<li><a href="{% url 'association' %}">L'association</a></li>
					<li><a href="{% url 'convives' %}">Venir déjeuner</a></li>
					<li><a href="{% url 'benevoles' %}">Devenir bénévole</a></li>
					<li><a href="{% url 'aide' %}">Faire un don</a></li>
					<li><a href="{% url 'index' %}#four">Contact</a></li>
					<li><a href="{% url 'login' %}">Déjà bénévole</a></li>
				</ul>
			</nav>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
						<h2>Page réservée aux bénévoles de l’association Solidarité Chrétienne des Batignolles</h2>
					</header>

					<!--<a href="#" class="image fit"><img src="images/pic11.jpg" alt="" /></a>-->

					<!-- Text -->
						<section>
							Chers bénévoles, 
							<br>Bienvenue sur votre rubrique, réservée aux Bénévoles de Solidarité Chrétienne des Batignolles. A vous de la faire vivre ! Vous y trouverez l’actualité de l’association, des liens utiles et le rappel des informations essentielles (adresse des lieux des repas, menus, stocks). A vous la parole !
							<br>Le Conseil d’Administration
							<h3>L’actualité  </h3>
							<h4>ASSEMBLE GENERALE DE L'ASSOCIATION - 27 MARS 2019</h4>
							"l'Assemblée Générale a réuni 26 d'entre nous à Saint Joseph; 11 personnes étaient également représentées, ainsi que chacune des 4 paroisses. Vous trouverez ci-joint la présentation (rapport d'activité et rapport financier) faite à cette occasion; également, la liste des membres du Conseil d'Administration et du Bureau élus. Nombreux nouveaux bénévoles, subventions, budget à l'équilibre, communication renforcée : Solidarité Chrétienne des Batignolles / Repas Partagés prend son élan grâce à vous !" Ci-joint le compte rendu et la liste qu'il faudrait joindre.  
							<h4>COMMENT PARLER DE L'ASSOCIATION AUTOUR DE VOUS ?</h4>
							Vous trouverez ci-joint le tract qui a servi de support aux récents appels à bénévoles et à dons dans les différentes paroisses de l'association. N'hésitez pas à le partager, ainsi que la page Facebook et le lien vers le site, à vos proches qui ont soif de solidarité et de partage ! Vous pouvez aussi signaler nos annonces de recrutement sur le site de la mairie de Paris <a href="https://jemengage.paris.fr/" class="button alt small">cliquer ici</a> 
							<h4>GALETTE DES BENEVOLES : 19 JANVIER 2019</h4>
							la Galette des bénévoles a rassemblé une vingtaine d'entre nous pour faire connaissance, tirer les rois et échanger sur l'association
							<h3>Planning des bénévoles aux repas de Saint Joseph (Samedi)</h3>
							Vous pouvez vous inscrire en ligne en cliquant sur le lien ci-dessous vous aurez accès au planning.
								<a href="https://docs.google.com/spreadsheets/d/1GZXfpGMsW0lCEAkHYlVUNZ5ES12hnP-QVYo5JsOf0Zg/edit?usp=sharing" class="button alt small">cliquer ici</a>
							<br>Rappel des lieux des repas :
							<ul>
								<li>Le mardi à la paroisse Saint-Michel, 3 place Saint-Jean, 75017 Paris</li>
								<li>Le jeudi au Temple de l’Église protestante Unie 44 Boulevard des Batignolles, 75017 Paris</li>
								<li>Le samedi à la paroisse Saint-Joseph des Épinettes, 40 rue Pouchet, 75017 Paris</li>
							</ul>
							<h3>Je suis bénévole et alors ?</h3>
							Charte des  bénévoles <b>à créer</b>
							<h3>Suggestion de repas et répartition de l’achat des provisions à Saint Jo</h3>
							Si certains bénévoles souhaitent proposer des menus pour certains repas, en accord avec l’équipe du jour, ils leur est possible d’inscrire ci-après leurs propositions <a href="https://docs.google.com/spreadsheets/d/1GZXfpGMsW0lCEAkHYlVUNZ5ES12hnP-QVYo5JsOf0Zg/edit?usp=sharing" class="button alt small">cliquer ici</a>
							<br>Afin de ne pas enchérir le coût des repas le menu proposé devra utiliser au maximum les réserves disponibles.
							<h3>Inventaire du stock</h3>
							Charte des  bénévoles <b>à créer</b>
							<h3>L’annuaire des bénévoles</h3>
							<a href="#" class="button alt small">cliquer ici</a>
								<h3>A jour de votre cotisation ? </h3>
							Chaque bénévole doit verser sa cotisation annuelle afin d’être membre de l’association, d’avoir le droit de vote aux assemblées,  et de bénéficier de son assurance « responsabilité civile » obligatoire. N’oubliez pas de l’adresser à notre Trésorier avant la prochaine Assemblée Générale. la cotisation reste à 15 euros en 2019 et 2020. Nouveauté : vous pouvez vous en acquitter en ligne via le lien ci-joint ! <a href="https://www.helloasso.com/associations/solidarite-chretienne-des-batignolles-repas-partages/adhesions/adhesion-solidarite-chretienne-des-batignolles-repas-partages" class="button alt small">cliquer ici</a>

								<h3>En direct du Conseil d’Administration</h3>
							Vous trouverez dans les liens ci-joints:
							<ul>
								<li>Les statuts de l’Association</li>
								<li>Le PV de la dernière Assemblée Générale</li>
								<li>Le Rapport D’Activité</li>
								<li>Le Rapport Financier</li>
							</ul>
						</section>

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook">
							<span class="label">Facebook</span>
						</a></li>
						<!--<li><a href="#" class="icon fa-instagram">
							<span class="label">Instagram</span>
						</a></li>
						<li><a href="#" class="icon fa-linkedin">
							<span class="label">LinkedIn</span>
						</a></li>-->
					</ul>
					<ul class="copyright">
						<li>&copy; Repas partagés.</li>
						<li>Design: <a href="http://designscrazed.org/">TEMPLATE</a>.</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
		<script src="{% static 'assets/js/jquery.min.js' %}"></script>
		<script src="{% static 'assets/js/skel.min.js' %}"></script>
		<script src="{% static 'assets/js/util.js' %}"></script>
		<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
		<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>
