<!DOCTYPE HTML>
<html>
	<head>
		{% load static %}
		<link rel="shortcut icon" href="{% static 'images/logo.ico' %}"/>
		<title>Repas partagés</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header" class="alt">
				<h1><a href="{% url 'index' %}">Repas partagés</a></h1>
				<a href="#nav">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="nav">
				<ul class="links">
					<li><a href="{% url 'index' %}">Accueil</a></li>
					<li><a href="{% url 'association' %}">L'association</a></li>
					<li><a href="{% url 'convives' %}">Les convives</a></li>
					<li><a href="{% url 'benevoles' %}">Les bénévoles</a></li>
					<li><a href="{% url 'aide' %}">Nous aider</a></li>
					<li><a href="{% url 'index' %}#four">Contact</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<a href="{% url 'association' %}"><img class="img-circle" src="{% static 'images/logo.ico' %}" alt="" /></a>
				<h2>Repas Partagés</h2>
				<p>Solidarité Chrétienne des Batignolles</p>
				<!--<ul class="actions">
					<li><a href="#" class="button big special">L'association</a></li>
				</ul>-->
				<ul class="actions">
					<li><a href="{% url 'convives' %}" class="button big special">Les convives</a></li>
					<li><a href="{% url 'benevoles' %}" class="button big special">Les bénévoles</a></li>
					<li><a href="{% url 'aide' %}" class="button big special">Nous aider</a></li>
				</ul>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style1">
				<div class="inner">
					<article class="feature left">
						<span class="image"><img src="{% static 'images/pic01.jpg' %}" alt="" /></span>
						<div class="content">
							<h2>La journée mondiale des pauvres le 19 novembre à Saint-Joseph</h2>
							<p>Le Pape François a promulgué le dimanche 19 novembre Journée Mondiale des Pauvres. L’association solidarité chrétienne des Batignolles s'associe à cet événement à la paroisse Saint Joseph. </p>
							<!-- <ul class="actions">
								<li>
									<a href="#" class="button alt">Plus d'infos</a>
								</li>
							</ul>-->
						</div>
					</article>
					<article class="feature right">
						<span class="image"><img src="{% static 'images/pic02.jpg' %}" alt="" /></span>
						<div class="content">
							<h2>La collecte de la banque alimentaire du 25 novembre </h2>
							<p>Comme chaque année, la collecte de la Banque Alimentaire se déroule le dernier week-end de novembre; nous y participons le samedi 25 novembre , dans deux supermarchés du 17ème , dont le Franprix du 28, rue des Moines. C'est une occasion précieuse, chaque année, de constituer nos réserves pour nos repas - et d'aider d'autres actions en remettant à la Mairie ce qui dépasse nos besoins, pour remise à la Banque Alimentaire.</p>
							<!-- <ul class="actions">
								<li>
									<a href="#" class="button alt">Plus d'infos</a>
								</li>
							</ul>-->
						</div>
					</article>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper special">
				<div class="inner">
					<header class="major">
						<h2>Bénévoles</h2>
						<p>Vous êtes motivé(e) par l'esprit de partage et d'ouverture aux plus fragiles.</br>
						Vous souhaitez vous engager dans une action bénévole malgré un emploi du temps chargé.</br>
						Donnez un peu de votre temps, ce sera déjà beaucoup!</br>
						Et rejoignez-nous: <b>1/2 journée toutes les 4 à 6 semaines.</b>
						</p>
					</header>
					<div class="image-grid">
						<a href="#" class="image"><img src="{% static 'images/pic03.jpg' %}" alt="" /></a>
						<a href="#" class="image"><img src="{% static 'images/pic04.jpg' %}" alt="" /></a>
						<a href="#" class="image"><img src="{% static 'images/pic05.jpg' %}" alt="" /></a>
						<a href="#" class="image"><img src="{% static 'images/pic06.jpg' %}" alt="" /></a>
						<a href="#" class="image"><img src="{% static 'images/pic07.jpg' %}" alt="" /></a>
						<a href="#" class="image"><img src="{% static 'images/pic08.jpg' %}" alt="" /></a>
						<a href="#" class="image"><img src="{% static 'images/pic09.jpg' %}" alt="" /></a>
						<a href="#" class="image"><img src="{% static 'images/pic10.jpg' %}" alt="" /></a>
					</div>
					<ul class="actions">
						<li><a href="{% url 'benevoles' %}" class="button big alt">Rejoignez-nous!</a></li>
					</ul>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper style3 special">
				<div class="inner">
					<header class="major narrow">
						<h2>Nous aider</h2>
						<p>Vous pouvez nous adresser vos dons par chèque ou par virement.</br>
						Vos dons seront utilisés pour compléter et enrichir les repas servis à nos convives et à leur apporter des services complémentaires</br>
						Si vous êtes <b>un commerçant</b> vous pouvez également nous verser une aide en nature et bénéficier d’une déduction fiscale</br>
						</p>
					</header>
					<ul class="actions">
						<li><a href="{% url 'aide' %}" class="button big alt">Soutenez-nous</a></li>
					</ul>
				</div>
			</section>

		<!-- Four -->
			<section id="four" class="wrapper style2 special">
				<div class="inner">
					<header class="major narrow">
						<h2>Contact</h2>
							<p style="text-align:center">	<b>mailto:</b> repaspartages@free.fr</br>
								<b>Adresse:</b> 44, Boulevard des Batignolles 75017 Paris</br>
								<b>Retrouvez-nous sur:</b></br>
									- paris.jemengage.fr: <a href="https://jemengage.paris.fr/#publication-1011" class="button 	small alt">cliquer ici </a></a></br>
									- le guide des associations de la mairie du 17ème</br>
								</ul>
							</p>
					</header>
					<!--<form action="#" method="POST">
						<div class="container 75%">
							<div class="row uniform 50%">
								<div class="6u 12u$(xsmall)">
									<input name="name" placeholder="Name" type="text" />
								</div>
								<div class="6u$ 12u$(xsmall)">
									<input name="email" placeholder="Email" type="email" />
								</div>
								<div class="12u$">
									<textarea name="message" placeholder="Message" rows="4"></textarea>
								</div>
							</div>
						</div>
						<ul class="actions">
							<li><input type="submit" class="special" value="Submit" /></li>
							<li><input type="reset" class="alt" value="Reset" /></li>
						</ul>
					</form>-->
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook">
							<span class="label">Facebook</span>
						</a></li>
						<!--<li><a href="#" class="icon fa-twitter">
							<span class="label">Twitter</span>
						</a></li>
						<li><a href="#" class="icon fa-instagram">
							<span class="label">Instagram</span>
						</a></li>
						<li><a href="#" class="icon fa-linkedin">
							<span class="label">LinkedIn</span>
						</a></li>-->
					</ul>
					<ul class="copyright">
						<li>&copy; Repas partagés.</li>
						<li>Design: <a href="http://designscrazed.org/">TEMPLATE</a>.</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/skel.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>
