<!DOCTYPE HTML>
<html>
	<head>
		{% load static %}
		<link rel="shortcut icon" href="{% static 'images/logo-o.png' %}"/>
		<title>Repas partagés</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header" class="alt">
				<!--<h1><a href="{% url 'index' %} ">Repas partagés</a></h1>-->
				<a href="#nav">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="nav">
				<ul class="links">
					<li><a href="{% url 'index' %}">Accueil</a></li>
					<li><a href="{% url 'actualite' %}">L'actualité</a></li>
					<li><a href="{% url 'association' %}">L'association</a></li>
					<li><a href="{% url 'convives' %}">Venir déjeuner</a></li>
					<li><a href="{% url 'benevoles' %}">Devenir bénévole</a></li>
					<li><a href="{% url 'aide' %}">Faire un don</a></li>
					<li><a href="{% url 'index' %}#four">Contact</a></li>
					<li><a href="{% url 'login' %}">Déjà bénévole</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<a href="{% url 'association' %}"><img align="middle" class="img-circle" src="{% static 'images/logo-t.png' %}" alt="" /></a>
				<p style="color:orange;">L’association Solidarité Chrétienne des Batignolles, située dans le Nord Ouest Parisien, offre plusieurs fois par semaine des Repas Partagés aux personnes démunies sans distinction d’origine ethnique, de sexe et de religion.</p>
				<!--<ul class="actions">
					<li><a href="#" class="button big special">L'association</a></li>
				</ul>-->
				<p>
					<br>
				<ul class="actions">
					<li><a href="{% url 'benevoles' %}" class="button big special">Devenir bénévole</a></li>
					<li><a href="{% url 'convives' %}" class="button big special">Venir déjeuner</a></li>
					<li><a href="{% url 'aide' %}" class="button big special">Faire un don</a></li>
				</ul>
				</p>
			</section>

		<!-- Four -->
			<section id="four" class="wrapper style2 special">
				<div class="inner">
					<header class="major special"><h2>Contact</h2></header>
					<header class="major narrow">
							<p style="text-align:center">	<b>mailto:</b> repaspartages@free.fr</br>
								<b>Adresse:</b> 44, Boulevard des Batignolles 75017 Paris</br>
								<b>Retrouvez-nous sur:</b></br>
									- paris.jemengage.fr: <a href="https://jemengage.paris.fr/#publication-1011" class="button 	small alt">cliquer ici </a></a></br>
									- le guide des associations de la mairie du 17ème</br>
								</ul>
							</p>
					</header>
					<!--<form action="#" method="POST">
						<div class="container 75%">
							<div class="row uniform 50%">
								<div class="6u 12u$(xsmall)">
									<input name="name" placeholder="Name" type="text" />
								</div>
								<div class="6u$ 12u$(xsmall)">
									<input name="email" placeholder="Email" type="email" />
								</div>
								<div class="12u$">
									<textarea name="message" placeholder="Message" rows="4"></textarea>
								</div>
							</div>
						</div>
						<ul class="actions">
							<li><input type="submit" class="special" value="Submit" /></li>
							<li><input type="reset" class="alt" value="Reset" /></li>
						</ul>
					</form>-->
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook">
							<span class="label">Facebook</span>
						</a></li>
						<!--<li><a href="#" class="icon fa-twitter">
							<span class="label">Twitter</span>
						</a></li>
						<li><a href="#" class="icon fa-instagram">
							<span class="label">Instagram</span>
						</a></li>
						<li><a href="#" class="icon fa-linkedin">
							<span class="label">LinkedIn</span>
						</a></li>-->
					</ul>
					<ul class="copyright">
						<li>&copy; Repas partagés.</li>
						<li>Design: <a href="http://designscrazed.org/">TEMPLATE</a>.</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/skel.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>
