<!DOCTYPE HTML>
<html>
	<head>
		{% load static %}
		<link rel="shortcut icon" href="{% static 'images/logo-o.png' %}"/>
		<title>Repas partagés</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
		<header id="header">
			<h1><a href="{% url 'index' %}"><img align="left" width="33%" height="33%" src="{% static 'images/logo-header.png' %}" alt="" /></a></h1>
			<a href="#nav">Menu</a>
		</header>


		<!-- Nav -->
		<nav id="nav">
				<ul class="links">
					<li><a href="{% url 'index' %}">Accueil</a></li>
					<li><a href="{% url 'actualite' %}">L'actualité</a></li>
					<li><a href="{% url 'association' %}">L'association</a></li>
					<li><a href="{% url 'convives' %}">Venir déjeuner</a></li>
					<li><a href="{% url 'benevoles' %}">Devenir bénévole</a></li>
					<li><a href="{% url 'aide' %}">Faire un don</a></li>
					<li><a href="{% url 'index' %}#four">Contact</a></li>
					<li><a href="{% url 'login' %}">Déjà bénévole</a></li>
				</ul>
			</nav>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
						<h2>Les bénévoles </h2>
					</header>

					<!--<a href="#" class="image fit"><img src="images/pic11.jpg" alt="" /></a>-->

					<!-- Text -->
						<section>
							<h3>DEVENIR BENEVOLE</h3>
							Vous êtes motivé par l'esprit de partage et d'ouverture aux plus fragiles ?
							<br>Rejoignez-nous et donnez un peu de votre temps (1/2 journée toutes les 4 à 6 semaines)
							<ul>
								<li>Les repas ont lieux le jeudi au Temple de l’Église protestante Unie des Batignolles et les mardi et samedi dans deux paroisses du quartier Batignolles / Epinettes.</li>
								<li>Les quatre à six bénévoles présents à chaque repas de 9h30 à 15h ont pour tâche de :</li>
								<ul>
									<li>Faire les courses complémentaires</li>
									<li>Accueillir les convives</li>
									<li>Préparer le repas (cuisiner, organiser les tables, mettre la table, …</li>
									<li>Servir à table</li>
									<li>Ranger après le repas, (nous sommes équipé d’un lave vaisselle de cuisine professionnel!)</li>
									<li>Nettoyer la salle</li>
									<li>Gisèle Salles</li>
								</ul>
							</ul>
							Alors contactez-nous à repaspartages@free.fr ou <a href="{% url 'index' %}#four" class="button alt small">cliquer ici</a>
							<br>Aujourd’hui les bénévoles ce sont une soixantaine de personnes, hommes et femmes, âgés de 20 à 90 ans, en activité ou retraités qui se chargent d’organiser les repas.
							<br>Nos convives apprécient l’engagement, le dévouement, la simplicité et le sourire de nos bénévoles; ils aiment les retrouver de façon régulière et créer ainsi une relation fondée sur le respect et l’enrichissement mutuel.

							<hr />
							<h3>Parole de bénévoles </h3>
							<hr />
							<header>
								<h3>Déjà bénévole ?</h3><a href="{% url 'login' %}" class="button alt small">se connecter</a>
							</header>
						</section>

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook">
							<span class="label">Facebook</span>
						</a></li>
						<!--<li><a href="#" class="icon fa-instagram">
							<span class="label">Instagram</span>
						</a></li>
						<li><a href="#" class="icon fa-linkedin">
							<span class="label">LinkedIn</span>
						</a></li>-->
					</ul>
					<ul class="copyright">
						<li>&copy; Repas partagés.</li>
						<li>Design: <a href="http://designscrazed.org/">TEMPLATE</a>.</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
		<script src="{% static 'assets/js/jquery.min.js' %}"></script>
		<script src="{% static 'assets/js/skel.min.js' %}"></script>
		<script src="{% static 'assets/js/util.js' %}"></script>
		<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
		<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>
