<!DOCTYPE HTML>
<html>
	<head>
		{% load static %}
		<link rel="shortcut icon" href="{% static 'images/logo-o.png' %}"/>
		<title>Repas partagés</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
		<header id="header">
			<h1><a href="{% url 'index' %}"><img align="left" width="18%" height="18%" src="{% static 'images/logo-t.png' %}" alt="" /></a></h1>
			<a href="#nav">Menu</a>
		</header>


		<!-- Nav -->
		<nav id="nav">
				<ul class="links">
					<li><a href="{% url 'index' %}">Accueil</a></li>
					<li><a href="{% url 'actualite' %}">L'actualité</a></li>
					<li><a href="{% url 'association' %}">L'association</a></li>
					<li><a href="{% url 'convives' %}">Venir déjeuner</a></li>
					<li><a href="{% url 'benevoles' %}">Devenir bénévole</a></li>
					<li><a href="{% url 'aide' %}">Faire un don</a></li>
					<li><a href="{% url 'index' %}#four">Contact</a></li>
					<li><a href="{% url 'login' %}">Déjà bénévole</a></li>
				</ul>
			</nav>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
						<h2>Nous aider ?</h2>
					</header>

					<!--<a href="#" class="image fit"><img src="images/pic11.jpg" alt="" /></a>-->

					<!-- Text -->
						<section>
							&emsp;Nos repas sont organisés grâce à l’apport de la collecte annuelle de la Banque Alimentaire à laquelle nos bénévoles participent activement. L’association est habilitée par la Direction Régionale du Ministère de l’Agriculture à recevoir de l’aide alimentaire et à en effectuer la distribution (habilitation renouvelée pour la période du 1er janvier 2018 au 31 décembre 2020).
							<br>&emsp;Les repas sont complétés (produits frais, légumes, viande, hygiène…) grâce à vos dons ! 
							<h3>Nous aider financièrement</h3>
							Vous pouvez nous aider financièrement
							<ul>
								<li>Soit par chèque à l’ordre de Solidarité Chrétienne des Batignolles à l’adresse suivante : <b>Solidarité Chrétienne des Batignolles au 44 boulevard des Batignolles, 75017 Paris</b></li>
								<li>Soit via le site internet de  HelloAsso : <a href="https://www.helloasso.com/associations/solidarite-chretienne-des-batignolles-repas-partages/formulaires/1" class="button alt small">cliquer ici </a></li>
							</ul>
							&emsp;L’association est habilitée à délivrer un reçu fiscal et vous en enverra un pour tout don supérieur à 30 euros
							<br>&emsp;Et bien sûr vous pouvez nous donner un peu de votre temps : <a href="{% url 'benevoles' %}" class="button alt small">cliquer ici</a>
							<h3>Commerçants, nous aider par vos dons en nature</h3>
							&emsp;Si vous être commerçant et que vous souhaitez nous faire des dons en nature, nous pourrons venir chercher ponctuellement ou régulièrement vos dons. Ces dons nous permettent d’ajouter des produits frais (viandes, légumes, fruits et pain) à nos repas.
							<h4>« Ils nous aident » </h4>
							&emsp;Des commerçants du 17ème nous aident déjà régulièrement 
						</section>

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook">
							<span class="label">Facebook</span>
						</a></li>
						<!--<li><a href="#" class="icon fa-instagram">
							<span class="label">Instagram</span>
						</a></li>
						<li><a href="#" class="icon fa-linkedin">
							<span class="label">LinkedIn</span>
						</a></li>-->
					</ul>
					<ul class="copyright">
						<li>&copy; Repas partagés.</li>
						<li>Design: <a href="http://designscrazed.org/">TEMPLATE</a>.</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
		<script src="{% static 'assets/js/jquery.min.js' %}"></script>
		<script src="{% static 'assets/js/skel.min.js' %}"></script>
		<script src="{% static 'assets/js/util.js' %}"></script>
		<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
		<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>
